##Proyecto Individual Nro 1
+ Data 07- Giselle Pereira Nuñez

Transformaciones:

1)Generar campo id: Cada id se compondrá de la primera letra del nombre de la plataforma, seguido del show_id ya presente en los datasets (ejemplo para títulos de Amazon = as123)

2)Los valores nulos del campo rating deberán reemplazarse por el string “G” (corresponde al maturity rating: “general for all audiences”

3)De haber fechas, deberán tener el formato AAAA-mm-dd

4)Los campos de texto deberán estar en minúsculas, sin excepciones

5)El campo duration debe convertirse en dos campos: duration_int y duration_type. El primero será un integer y el segundo un string indicando la unidad de medición de duración: min (minutos) o season (temporadas)

In [107]:
# Librerias a utilizar
import pandas as pd
import numpy as np
import datetime

Transformaciones de Dataset de Amason

In [4]:
# Abro dataset proveedor de servicios de streaming amazon
Proveedor_amazon=pd.read_csv('amazon_prime_titles.csv')

In [5]:
Proveedor_amazon.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

**Generar campo id**

In [6]:
# Defino función a aplicar en la columna id de amazon
def func(row):
    return "a" + row["show_id"]

In [7]:
# Creo la nueva columna a partir de la función aplicada a las filas
Proveedor_amazon['id'] = Proveedor_amazon.apply(func, axis=1)

In [8]:
# Cambio de posicion la columna nueva
col = Proveedor_amazon.pop('id')
# Inserción de la columna en una nueva posición
Proveedor_amazon.insert(0, 'id', col)

**Reemplazo de nulos en el campo "rating"**

In [9]:
#Busqueda de valores nulos
Proveedor_amazon.isnull().sum()
#Con esta consulta veo en general todos los valores nulos que tengo en cada campo, en este caso solo me interesa en campo "rating" que tiene 337 nulos

id                 0
show_id            0
type               0
title              0
director        2082
cast            1233
country         8996
date_added      9513
release_year       0
rating           337
duration           0
listed_in          0
description        0
dtype: int64

In [10]:

#Reemplazo los valores nulos por "G" en la columna rating
Proveedor_amazon['rating'].fillna("G", inplace=True)

In [11]:
# Constato que ya no haya valores nulos en el campo rating
Proveedor_amazon['rating'].isna().sum()

0

**Cambiar formato de fecha en el campo "date_added"**

In [12]:
# Como la fecha no esta en nros, cambio a nros para poder luego cambiar el formato
Proveedor_amazon["date_added"] = pd.to_datetime(Proveedor_amazon["date_added"], format="%B %d, %Y")
#Cambio formato "MM-DD-YYYY" a "YYYY-MM-DD"
Proveedor_amazon["date_added"] = Proveedor_amazon["date_added"].dt.strftime("%Y-%m-%d")

**Cambiar Mayusculas a Minusculas**

In [13]:
# Cambiar todos los campos de textos con mayusculas a solo minusculas
#Campo type
Proveedor_amazon["type"] = Proveedor_amazon["type"].str.lower()
#Campo title
Proveedor_amazon["title"] = Proveedor_amazon["title"].str.lower()
#Campo director
Proveedor_amazon["director"] = Proveedor_amazon["director"].str.lower()
#Campo cast
Proveedor_amazon["cast"] = Proveedor_amazon["cast"].str.lower()
#Campo country
Proveedor_amazon["country"] = Proveedor_amazon["country"].str.lower()
#Campo listed_in
Proveedor_amazon["rating"] = Proveedor_amazon["rating"].str.lower()
#Campo listed_in
Proveedor_amazon["duration"] = Proveedor_amazon["duration"].str.lower()
#Campo listed_in
Proveedor_amazon["listed_in"] = Proveedor_amazon["listed_in"].str.lower()
#Campo description
Proveedor_amazon["description"] = Proveedor_amazon["description"].str.lower()

**Campo duration debe convertirse en dos campos**

In [14]:
#Tipo de dato del campo duration
Proveedor_amazon["duration"].dtype

dtype('O')

In [15]:
# Cambiar tipo de dato a str del campo duration
Proveedor_amazon["duration"] = Proveedor_amazon["duration"].astype(str)

In [16]:
#Dividir en campo duration en duration_int y duration_type
Proveedor_amazon[["duration_int", "duration_type"]] = Proveedor_amazon["duration"].str.split(" ", expand=True)

In [17]:
#Comprobar tipos de datos de las nuevas columnas
entero= Proveedor_amazon["duration_int"].dtype
cadena= Proveedor_amazon["duration_type"].dtype
print(entero,cadena)

object object

In [18]:
#Cambiar tipo de dato objeto a int y str
Proveedor_amazon["duration_int"] = Proveedor_amazon["duration_int"].astype(int)
Proveedor_amazon["duration_type"] = Proveedor_amazon["duration_type"].astype(str)

In [19]:
Proveedor_amazon= Proveedor_amazon
Proveedor_amazon.head()

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,duration_int,duration_type
0,as1,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,113,min
1,as2,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,110,min
2,as3,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...,74,min
3,as4,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,69 min,documentary,"pink breaks the mold once again, bringing her ...",69,min
4,as5,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...,45,min

**Transformaciones de Dataset de Disney Plus**

In [20]:
# Abro dataset proveedor de servicios de streaming disney_plus
Proveedor_disney_plus=pd.read_csv('disney_plus_titles.csv')

In [21]:
Proveedor_disney_plus.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!"
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...

**Generar campo id**

In [22]:
# Defino función a aplicar en la columna id de disney_plus
def funci(row):
    return "d" + row["show_id"]

In [23]:
# Creo la nueva columna a partir de la función aplicada a las filas
Proveedor_disney_plus['id'] = Proveedor_disney_plus.apply(funci, axis=1)

In [24]:
# Cambio de posicion la columna nueva
col = Proveedor_disney_plus.pop('id')
# Inserción de la columna en una nueva posición
Proveedor_disney_plus.insert(0, 'id', col)

**Reemplazo de nulos en el campo "rating"**

In [25]:
#Busqueda de valores nulos
Proveedor_disney_plus.isnull().sum()
#Con esta consulta veo en general todos los valores nulos que tengo en cada campo, en este caso solo me interesa en campo "rating" que tiene 3 nulos

id                0
show_id           0
type              0
title             0
director        473
cast            190
country         219
date_added        3
release_year      0
rating            3
duration          0
listed_in         0
description       0
dtype: int64

In [26]:
#Reemplazo los valores nulos por "G" en la columna rating
Proveedor_disney_plus['rating'].fillna("G", inplace=True)

In [27]:
# Constato que ya no haya valores nulos en el campo rating
Proveedor_disney_plus['rating'].isna().sum()

0

**Cambiar formato de fecha en el campo "date_added"**

In [28]:
# Como la fecha no esta en nros, cambio a nros para poder luego cambiar el formato
Proveedor_disney_plus["date_added"] = pd.to_datetime(Proveedor_disney_plus["date_added"], format="%B %d, %Y")
#Cambio formato "MM-DD-YYYY" a "YYYY-MM-DD"
Proveedor_disney_plus["date_added"] = Proveedor_disney_plus["date_added"].dt.strftime("%Y-%m-%d")

**Cambiar Mayusculas a Minusculas**

In [29]:
# Cambiar todos los campos de textos con mayusculas a solo minusculas
#Campo type
Proveedor_disney_plus["type"] = Proveedor_disney_plus["type"].str.lower()
#Campo title
Proveedor_disney_plus["title"] = Proveedor_disney_plus["title"].str.lower()
#Campo director
Proveedor_disney_plus["director"] = Proveedor_disney_plus["director"].str.lower()
#Campo cast
Proveedor_disney_plus["cast"] = Proveedor_disney_plus["cast"].str.lower()
#Campo country
Proveedor_disney_plus["country"] = Proveedor_disney_plus["country"].str.lower()
#Campo listed_in
Proveedor_disney_plus["rating"] = Proveedor_disney_plus["rating"].str.lower()
#Campo listed_in
Proveedor_disney_plus["duration"] = Proveedor_disney_plus["duration"].str.lower()
#Campo listed_in
Proveedor_disney_plus["listed_in"] = Proveedor_disney_plus["listed_in"].str.lower()
#Campo description
Proveedor_disney_plus["description"] = Proveedor_disney_plus["description"].str.lower()

**Dividir campo duration**

In [30]:
#Dividir campo duration en duration_int y duration_type
Proveedor_disney_plus[["duration_int", "duration_type"]] = Proveedor_disney_plus["duration"].str.split(" ", expand=True)

In [31]:
#Cambiar tipo de dato objeto a int y str
Proveedor_disney_plus["duration_int"] = Proveedor_disney_plus["duration_int"].astype(int)
Proveedor_disney_plus["duration_type"] = Proveedor_disney_plus["duration_type"].astype(str)

In [32]:
#Comprobar tipo de datos
entero2= Proveedor_disney_plus["duration_int"].dtype
cadena2= Proveedor_disney_plus["duration_type"].dtype
print(entero2,cadena2)

int32 object

In [33]:
Proveedor_disney_plus= Proveedor_disney_plus
Proveedor_disney_plus.head()

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,duration_int,duration_type
0,ds1,s1,movie,duck the halls: a mickey mouse christmas special,"alonso ramirez ramos, dave wasson","chris diamantopoulos, tony anselmo, tress macn...",NaN,2021-11-26,2016,tv-g,23 min,"animation, family",join mickey and the gang as they duck the halls!,23,min
1,ds2,s2,movie,ernest saves christmas,john cherry,"jim varney, noelle parker, douglas seale",NaN,2021-11-26,1988,pg,91 min,comedy,santa claus passes his magic bag to a new st. ...,91,min
2,ds3,s3,movie,ice age: a mammoth christmas,karen disher,"raymond albert romano, john leguizamo, denis l...",united states,2021-11-26,2011,tv-g,23 min,"animation, comedy, family",sid the sloth is on santa's naughty list.,23,min
3,ds4,s4,movie,the queen family singalong,hamish hamilton,"darren criss, adam lambert, derek hough, alexa...",NaN,2021-11-26,2021,tv-pg,41 min,musical,"this is real life, not just fantasy!",41,min
4,ds5,s5,tv show,the beatles: get back,NaN,"john lennon, paul mccartney, george harrison, ...",NaN,2021-11-25,2021,g,1 season,"docuseries, historical, music",a three-part documentary from peter jackson ca...,1,season

**Transformaciones de Dataset de Hulu**

In [34]:
# Abro dataset proveedor de servicios de streaming hulu
Proveedor_hulu=pd.read_csv('hulu_titles.csv')

In [35]:
Proveedor_hulu.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...

**Generar campo id**

In [36]:
# Defino función a aplicar en la columna id de Hulu
def funcio(row):
    return "h" + row["show_id"]

In [37]:
# Creo la nueva columna a partir de la función aplicada a las filas
Proveedor_hulu['id'] = Proveedor_hulu.apply(funcio, axis=1)

In [38]:
# Cambio de posicion la columna nueva
col = Proveedor_hulu.pop('id')
# Inserción de la columna en una nueva posición
Proveedor_hulu.insert(0, 'id', col)

**Reemplazo de nulos en el campo "rating"**

In [39]:
#Busqueda de valores nulos
Proveedor_hulu.isnull().sum()
#Con esta consulta veo en general todos los valores nulos que tengo en cada campo, en este caso solo me interesa en campo "rating" que tiene 520 nulos

id                 0
show_id            0
type               0
title              0
director        3070
cast            3073
country         1453
date_added        28
release_year       0
rating           520
duration         479
listed_in          0
description        4
dtype: int64

In [40]:
#Reemplazo los valores nulos por "G" en la columna rating
Proveedor_hulu['rating'].fillna("G", inplace=True)

In [41]:
# Constato que ya no haya valores nulos en el campo rating
Proveedor_hulu['rating'].isna().sum()

0

In [42]:
# Como la fecha no esta en nros, cambio a nros para poder luego cambiar el formato
Proveedor_hulu["date_added"] = pd.to_datetime(Proveedor_hulu["date_added"], format="%B %d, %Y")
#Cambio formato "MM-DD-YYYY" a "YYYY-MM-DD"
Proveedor_hulu["date_added"] = Proveedor_hulu["date_added"].dt.strftime("%Y-%m-%d")

**Cambiar Mayusculas a Minusculas**

In [43]:
#Verifico tipo de dato del campo "cast"
Proveedor_hulu["cast"].dtypes

dtype('float64')

In [44]:
#cambio el tipo de dato del campo "cast"
Proveedor_hulu['cast'] = Proveedor_hulu['cast'].astype(str)

In [45]:
#compruebo tipo de dato
Proveedor_hulu["cast"].dtypes

dtype('O')

In [46]:
# Cambiar todos los campos de textos con mayusculas a solo minusculas
#Campo type
Proveedor_hulu["type"] = Proveedor_hulu["type"].str.lower()
#Campo title
Proveedor_hulu["title"] = Proveedor_hulu["title"].str.lower()
#Campo director
Proveedor_hulu["director"] = Proveedor_hulu["director"].str.lower()
#Campo cast
Proveedor_hulu["cast"] = Proveedor_hulu["cast"].str.lower()
#Campo country
Proveedor_hulu["country"] = Proveedor_hulu["country"].str.lower()
#Campo rating
Proveedor_hulu["rating"] = Proveedor_hulu["rating"].str.lower()
#Campo listed_in
Proveedor_hulu["duration"] = Proveedor_hulu["duration"].str.lower()
#Campo listed_in
Proveedor_hulu["listed_in"] = Proveedor_hulu["listed_in"].str.lower()
#Campo description
Proveedor_hulu["description"] = Proveedor_hulu["description"].str.lower()

**Dividir campo duration**

In [47]:
#Dividir campo duration en duration_int y duration_type
Proveedor_hulu[["duration_int", "duration_type"]] = Proveedor_hulu["duration"].str.split(" ", expand=True)

In [48]:
#Compruebo tipo de dato del campo "duration_int"
Proveedor_hulu["duration_int"].dtypes

dtype('O')

In [49]:
#Reemplazo los valores nulos por 0 para poder cambiar el tipo de dato a int
Proveedor_hulu['duration_int'].fillna(0, inplace=True)

In [50]:
#Cambiar tipo de dato objeto a int y str
Proveedor_hulu["duration_int"] = Proveedor_hulu["duration_int"].astype(int)
Proveedor_hulu["duration_type"] = Proveedor_hulu["duration_type"].astype(str)

In [51]:
#Comprobar tipo de datos
entero3= Proveedor_hulu["duration_int"].dtype
cadena3= Proveedor_hulu["duration_type"].dtype
print(entero3,cadena3)

int32 object

In [54]:
Proveedor_hulu= Proveedor_hulu
Proveedor_hulu.head()

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,duration_int,duration_type
0,hs1,s1,movie,ricky velez: here's everything,NaN,nan,NaN,2021-10-24,2021,tv-ma,NaN,"comedy, stand up",​comedian ricky velez bares it all with his ho...,0,nan
1,hs2,s2,movie,silent night,NaN,nan,NaN,2021-10-23,2020,g,94 min,"crime, drama, thriller","mark, a low end south london hitman recently r...",94,min
2,hs3,s3,movie,the marksman,NaN,nan,NaN,2021-10-23,2021,pg-13,108 min,"action, thriller",a hardened arizona rancher tries to protect an...,108,min
3,hs4,s4,movie,gaia,NaN,nan,NaN,2021-10-22,2021,r,97 min,horror,a forest ranger and two survivalists with a cu...,97,min
4,hs5,s5,movie,settlers,NaN,nan,NaN,2021-10-22,2021,g,104 min,"science fiction, thriller",mankind's earliest settlers on the martian fro...,104,min

**Transformaciones de Dataset de Netflix**

In [55]:
# Abro dataset proveedor de servicios de streaming netflix
Proveedor_netflix=pd.read_csv('netflix_titles.csv')

In [56]:
Proveedor_netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

**Generar campo id**

In [57]:
# Defino función a aplicar en la columna id de Netflix
def funcion(row):
    return "n" + row["show_id"]

In [58]:
# Creo la nueva columna a partir de la función aplicada a las filas
Proveedor_netflix['id'] = Proveedor_netflix.apply(funcion, axis=1)

In [59]:
# Cambio de posicion la columna nueva
col = Proveedor_netflix.pop('id')
# Inserción de la columna en una nueva posición
Proveedor_netflix.insert(0, 'id', col)

**Reemplazo de nulos en el campo "rating"**

In [60]:
#Busqueda de valores nulos
Proveedor_netflix.isnull().sum()
#Con esta consulta veo en general todos los valores nulos que tengo en cada campo, en este caso solo me interesa en campo "rating" que tiene 4 nulos

id                 0
show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [61]:
#Reemplazo los valores nulos por "G" en la columna rating
Proveedor_netflix['rating'].fillna("G", inplace=True)

In [62]:
# Constato que ya no haya valores nulos en el campo rating
Proveedor_netflix['rating'].isna().sum()

0

**Cambiar formato de fecha en el campo "date_added"**

In [63]:
#Eliminar los espacios en blanco del comienzo de algunas fechas
Proveedor_netflix['date_added'] = Proveedor_netflix['date_added'].str.strip()

In [64]:
# Como la fecha no esta en nros, cambio a nros para poder luego cambiar el formato
Proveedor_netflix["date_added"] = pd.to_datetime(Proveedor_netflix["date_added"], format="%B %d, %Y")
#Cambio formato "MM-DD-YYYY" a "YYYY-MM-DD"
Proveedor_netflix["date_added"] = Proveedor_netflix["date_added"].dt.strftime("%Y-%m-%d")

**Cambiar Mayusculas a Minusculas**

In [65]:
# Cambiar todos los campos de textos con mayusculas a solo minusculas
#Campo type
Proveedor_netflix["type"] = Proveedor_netflix["type"].str.lower()
#Campo title
Proveedor_netflix["title"] = Proveedor_netflix["title"].str.lower()
#Campo director
Proveedor_netflix["director"] = Proveedor_netflix["director"].str.lower()
#Campo cast
Proveedor_netflix["cast"] = Proveedor_netflix["cast"].str.lower()
#Campo country
Proveedor_netflix["country"] = Proveedor_netflix["country"].str.lower()
#Campo rating
Proveedor_netflix["rating"] = Proveedor_netflix["rating"].str.lower()
#Campo listed_in
Proveedor_netflix["duration"] = Proveedor_netflix["duration"].str.lower()
#Campo listed_in
Proveedor_netflix["listed_in"] = Proveedor_netflix["listed_in"].str.lower()
#Campo description
Proveedor_netflix["description"] = Proveedor_netflix["description"].str.lower()

**Dividir campo duration**

In [66]:
#Dividir campo duration en duration_int y duration_type
Proveedor_netflix[["duration_int", "duration_type"]] = Proveedor_netflix["duration"].str.split(" ", expand=True)

In [67]:
#reemplazo los nulos por 0 para poder cambiar el tipo de dato
Proveedor_netflix['duration_int'].fillna(0, inplace=True)

In [68]:
#Cambiar tipo de dato objeto a int y str
Proveedor_netflix["duration_int"] = Proveedor_netflix["duration_int"].astype(int)
Proveedor_netflix["duration_type"] = Proveedor_netflix["duration_type"].astype(str)

In [69]:
#Comprobar tipo de datos
entero4= Proveedor_netflix["duration_int"].dtype
cadena4= Proveedor_netflix["duration_type"].dtype
print(entero4,cadena4)

int32 object

In [70]:
Proveedor_netflix= Proveedor_netflix
Proveedor_netflix.head()

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,duration_int,duration_type
0,ns1,s1,movie,dick johnson is dead,kirsten johnson,NaN,united states,2021-09-25,2020,pg-13,90 min,documentaries,"as her father nears the end of his life, filmm...",90,min
1,ns2,s2,tv show,blood & water,NaN,"ama qamata, khosi ngema, gail mabalane, thaban...",south africa,2021-09-24,2021,tv-ma,2 seasons,"international tv shows, tv dramas, tv mysteries","after crossing paths at a party, a cape town t...",2,seasons
2,ns3,s3,tv show,ganglands,julien leclercq,"sami bouajila, tracy gotoas, samuel jouy, nabi...",NaN,2021-09-24,2021,tv-ma,1 season,"crime tv shows, international tv shows, tv act...",to protect his family from a powerful drug lor...,1,season
3,ns4,s4,tv show,jailbirds new orleans,NaN,NaN,NaN,2021-09-24,2021,tv-ma,1 season,"docuseries, reality tv","feuds, flirtations and toilet talk go down amo...",1,season
4,ns5,s5,tv show,kota factory,NaN,"mayur more, jitendra kumar, ranjan raj, alam k...",india,2021-09-24,2021,tv-ma,2 seasons,"international tv shows, romantic tv shows, tv ...",in a city of coaching centers known to train i...,2,seasons

**Datasets por proveedor de servicios de streaming ya transformados**
- Elimino los campos "show_id" y "duration"

In [71]:
Proveedor_amazon = Proveedor_amazon.drop(['show_id', 'duration'], axis=1)
Proveedor_amazon=Proveedor_amazon
Proveedor_amazon.head()

,id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration_int,duration_type
0,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,113,min
1,as2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,"drama, international",a metro family decides to fight a cyber crimin...,110,min
2,as3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,"action, drama, suspense",after a man discovers his wife is cheating on ...,74,min
3,as4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,documentary,"pink breaks the mold once again, bringing her ...",69,min
4,as5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,"drama, fantasy",teenage matt banting wants to work with a famo...,45,min

In [72]:
Proveedor_disney_plus = Proveedor_disney_plus.drop(['show_id', 'duration'], axis=1)
Proveedor_disney_plus=Proveedor_disney_plus
Proveedor_disney_plus.head()

,id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration_int,duration_type
0,ds1,movie,duck the halls: a mickey mouse christmas special,"alonso ramirez ramos, dave wasson","chris diamantopoulos, tony anselmo, tress macn...",NaN,2021-11-26,2016,tv-g,"animation, family",join mickey and the gang as they duck the halls!,23,min
1,ds2,movie,ernest saves christmas,john cherry,"jim varney, noelle parker, douglas seale",NaN,2021-11-26,1988,pg,comedy,santa claus passes his magic bag to a new st. ...,91,min
2,ds3,movie,ice age: a mammoth christmas,karen disher,"raymond albert romano, john leguizamo, denis l...",united states,2021-11-26,2011,tv-g,"animation, comedy, family",sid the sloth is on santa's naughty list.,23,min
3,ds4,movie,the queen family singalong,hamish hamilton,"darren criss, adam lambert, derek hough, alexa...",NaN,2021-11-26,2021,tv-pg,musical,"this is real life, not just fantasy!",41,min
4,ds5,tv show,the beatles: get back,NaN,"john lennon, paul mccartney, george harrison, ...",NaN,2021-11-25,2021,g,"docuseries, historical, music",a three-part documentary from peter jackson ca...,1,season

In [73]:
Proveedor_hulu = Proveedor_hulu.drop(['show_id', 'duration'], axis=1)
Proveedor_hulu=Proveedor_hulu
Proveedor_hulu.head()

,id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration_int,duration_type
0,hs1,movie,ricky velez: here's everything,NaN,nan,NaN,2021-10-24,2021,tv-ma,"comedy, stand up",​comedian ricky velez bares it all with his ho...,0,nan
1,hs2,movie,silent night,NaN,nan,NaN,2021-10-23,2020,g,"crime, drama, thriller","mark, a low end south london hitman recently r...",94,min
2,hs3,movie,the marksman,NaN,nan,NaN,2021-10-23,2021,pg-13,"action, thriller",a hardened arizona rancher tries to protect an...,108,min
3,hs4,movie,gaia,NaN,nan,NaN,2021-10-22,2021,r,horror,a forest ranger and two survivalists with a cu...,97,min
4,hs5,movie,settlers,NaN,nan,NaN,2021-10-22,2021,g,"science fiction, thriller",mankind's earliest settlers on the martian fro...,104,min

In [74]:
Proveedor_netflix = Proveedor_netflix.drop(['show_id', 'duration'], axis=1)
Proveedor_netflix=Proveedor_netflix
Proveedor_netflix.head()

,id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration_int,duration_type
0,ns1,movie,dick johnson is dead,kirsten johnson,NaN,united states,2021-09-25,2020,pg-13,documentaries,"as her father nears the end of his life, filmm...",90,min
1,ns2,tv show,blood & water,NaN,"ama qamata, khosi ngema, gail mabalane, thaban...",south africa,2021-09-24,2021,tv-ma,"international tv shows, tv dramas, tv mysteries","after crossing paths at a party, a cape town t...",2,seasons
2,ns3,tv show,ganglands,julien leclercq,"sami bouajila, tracy gotoas, samuel jouy, nabi...",NaN,2021-09-24,2021,tv-ma,"crime tv shows, international tv shows, tv act...",to protect his family from a powerful drug lor...,1,season
3,ns4,tv show,jailbirds new orleans,NaN,NaN,NaN,2021-09-24,2021,tv-ma,"docuseries, reality tv","feuds, flirtations and toilet talk go down amo...",1,season
4,ns5,tv show,kota factory,NaN,"mayur more, jitendra kumar, ranjan raj, alam k...",india,2021-09-24,2021,tv-ma,"international tv shows, romantic tv shows, tv ...",in a city of coaching centers known to train i...,2,seasons

**Tamaños**

In [75]:
Proveedor_amazon.shape

(9668, 13)

In [76]:
Proveedor_disney_plus.shape

(1450, 13)

In [77]:
Proveedor_hulu.shape

(3073, 13)

In [78]:
Proveedor_netflix.shape

(8807, 13)

**Uno los cuatro Datasets**

In [79]:
#Concateno Proveedor_amazon, Proveedor_disney_plus
Proveedores = pd.concat([Proveedor_amazon, Proveedor_disney_plus])

In [80]:
#Cuento las filas y columnas de la concatenacion de Proveedor_amazon, Proveedor_disney_plus
print("Proveedor_amazon y Proveedor_disney_plus concatenados:")
Proveedores.shape

Proveedor_amazon y Proveedor_disney_plus concatenados:

(11118, 13)

In [81]:
#Concateno Proveedor_amazon, Proveedor_disney_plus (Proveedores) con Proveedor_hulu
Proveedores = pd.concat([Proveedores, Proveedor_hulu])

In [82]:
#Cuento las filas y columnas de la concatenacion de Proveedor_amazon, Proveedor_disney_plus, Proveedor_hulu
print("Proveedor_amazon, Proveedor_disney_plus y Proveedor_hulu concatenados:")
Proveedores.shape

Proveedor_amazon, Proveedor_disney_plus y Proveedor_hulu concatenados:

(14191, 13)

In [83]:
#Concateno Proveedor_amazon, Proveedor_disney_plus, Proveedor_hulu (Proveedores) con Proveedor_netflix
Proveedores = pd.concat([Proveedores, Proveedor_netflix])

In [84]:
#Cuento las filas y columnas de la concatenacion de Proveedor_amazon, Proveedor_disney_plus, Proveedor_hulu y Proveedor_netflix
print("Proveedor_amazon, Proveedor_disney_plus, Proveedor_hulu y Proveedor_netflix concatenados \nSiendo un total de:  \nFILAS|COLUMNAS")
Proveedores.shape

Proveedor_amazon, Proveedor_disney_plus, Proveedor_hulu y Proveedor_netflix concatenados
Siendo un total de:
FILAS|COLUMNAS

(22998, 13)

In [85]:
# Paso la palabra seasons a season en el campo "duration_type"
Proveedores['duration_type'] = Proveedores['duration_type'].replace('seasons', 'season')
Proveedores= Proveedores
Proveedores.head()

,id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration_int,duration_type
0,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,113,min
1,as2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,"drama, international",a metro family decides to fight a cyber crimin...,110,min
2,as3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,"action, drama, suspense",after a man discovers his wife is cheating on ...,74,min
3,as4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,documentary,"pink breaks the mold once again, bringing her ...",69,min
4,as5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,"drama, fantasy",teenage matt banting wants to work with a famo...,45,min

#Comienzo con las reseñas

In [86]:
# Abro reseñas de los usuarios 1
Reseña_usuarios_1=pd.read_csv('ratings/1.csv')
Reseña_usuarios_1.head()

   userId  rating   timestamp movieId
0       1     1.0  1425941529   as680
1       1     4.5  1425942435  ns2186
2       1     5.0  1425941523  hs2381
3       1     5.0  1425941546  ns3663
4       1     5.0  1425941556  as9500

In [87]:
Reseña_usuarios_1.shape

(1500000, 4)

In [88]:
# Abro reseñas de los usuarios 2
Reseña_usuarios_2=pd.read_csv('ratings/2.csv')
Reseña_usuarios_2.head()

   userId  rating   timestamp movieId
0   15424     3.0  1369585147  ns3012
1   15424     2.5  1369586851  ns3195
2   15424     3.0  1369585112   ns357
3   15424     2.5  1372541498  as7069
4   15424     3.0  1369586846  as6943

In [89]:
Reseña_usuarios_2.shape

(1500000, 4)

In [90]:
# Abro reseñas de los usuarios 3
Reseña_usuarios_3=pd.read_csv('ratings/3.csv')
Reseña_usuarios_3.head()

   userId  rating  timestamp movieId
0   31332     4.0  974205261  as2251
1   31332     3.0  974205170  as7226
2   31332     3.0  974205034  as6479
3   31332     3.0  974205261  ns2422
4   31332     4.0  974205034  as4041

In [91]:
Reseña_usuarios_3.shape

(1500000, 4)

In [93]:
# Abro reseñas de los usuarios 4
Reseña_usuarios_4=pd.read_csv('ratings/4.csv')
Reseña_usuarios_4.head()

   userId  rating   timestamp movieId
0   46200     5.0  1015603683  as3203
1   46200     1.0  1012323069  as5959
2   46200     3.0   996245609  as4430
3   46200     4.0   996245595  as6604
4   46200     3.0   996245595   ds311

In [94]:
Reseña_usuarios_4.shape

(1500000, 4)

In [95]:
# Abro reseñas de los usuarios 5
Reseña_usuarios_5=pd.read_csv('ratings/5.csv')
Reseña_usuarios_5.head()

   userId  rating   timestamp movieId
0   61768     4.0  1438075492  as5376
1   61768     3.0  1435693148  as7172
2   61768     3.0  1438075482  ns4557
3   61768     3.0  1438075496  ns7804
4   61768     3.5  1438075486  as3030

In [96]:
Reseña_usuarios_5.shape

(1500000, 4)

In [97]:
# Abro reseñas de los usuarios 6
Reseña_usuarios_6=pd.read_csv('ratings/6.csv')
Reseña_usuarios_6.head()

   userId  rating   timestamp movieId
0  249182     3.5  1460518555   ds327
1  249182     4.0  1461878500  ns2124
2  249182     3.0  1460182087  as8841
3  249182     4.5  1460183214  hs2318
4  249182     2.5  1460184332  as5743

In [98]:
Reseña_usuarios_6.shape

(1500000, 4)

In [99]:
# Abro reseñas de los usuarios 7
Reseña_usuarios_7=pd.read_csv('ratings/7.csv')
Reseña_usuarios_7.head()

   userId  rating  timestamp movieId
0  265409     5.0  891417042   ds781
1  265409     5.0  891417042  as9331
2  265409     4.0  891417435   hs384
3  265409     3.0  891417191   hs398
4  265409     5.0  891417224  as8434

In [100]:
Reseña_usuarios_7.shape

(524289, 4)

In [101]:
# abro reseñas de los usuarios 8
Reseña_usuarios_8=pd.read_csv('ratings/8.csv')
Reseña_usuarios_8.head()

   userId  rating   timestamp movieId
0  108422     4.5  1350689762  as1399
1  108422     4.0  1350341401  as6724
2  108422     5.0  1350689691   ns512
3  108422     4.5  1350341088  ns7444
4  108422     4.5  1350689619  as2230

In [102]:
Reseña_usuarios_8.shape

(1500000, 4)

**Unir los datasets de reseñas**

In [103]:
# Concateno los datasets
Reseñas_totales = pd.concat([Reseña_usuarios_1, Reseña_usuarios_2, Reseña_usuarios_3, Reseña_usuarios_4, Reseña_usuarios_5, Reseña_usuarios_6, Reseña_usuarios_7, Reseña_usuarios_8], axis=0)
Reseñas_totales.head()

   userId  rating   timestamp movieId
0       1     1.0  1425941529   as680
1       1     4.5  1425942435  ns2186
2       1     5.0  1425941523  hs2381
3       1     5.0  1425941546  ns3663
4       1     5.0  1425941556  as9500

In [104]:
#Conteo de las filas y columnas de la concatenacion de los ocho datasets de Reseñas
print("Datasets de reseñas concatenadas \nSiendo un total de: \nFILAS|COLUMNAS")
Reseñas_totales.shape

Datasets de reseñas concatenadas
Siendo un total de:
FILAS|COLUMNAS

(11024289, 4)

**Renombrar el campo "rating" en el datasets de  Reseñas Totales**

In [105]:
Reseñas_totales = Reseñas_totales.rename(columns={'rating': 'score'})

In [106]:
# vista para ver si cambio correctamente el nombre
Reseñas_totales.head(0)

Empty DataFrame
Columns: [userId, score, timestamp, movieId]
Index: []

In [108]:
#Convierto les campo'timestamp' a fecha requeridae
Reseñas_totales['timestamp'] = Reseñas_totales['timestamp'].apply(lambda x: datetime.datetime.fromtimestamp(int(x)).strftime('%Y-%m-%d'))

In [109]:
#Verifico el cambio
Reseñas_totales.head(1)

   userId  score   timestamp movieId
0       1    1.0  2015-03-09   as680

In [110]:
#Verifico fecha mas antigua y la mas actual
print("La Fecha mas antigua del Dataset es :", Reseñas_totales['timestamp'].min())
print("La Fecha mas actual del Dataset es :", Reseñas_totales['timestamp'].max())

La Fecha mas antigua del Dataset es : 1995-01-09
La Fecha mas actual del Dataset es : 2017-08-04

**Uno los Datasets de Proveedores y de Reseñas Totales**

In [111]:
# Reviso por ultima vez la cantidad de filas y columnas
print(Proveedores.shape)
print(Reseñas_totales.shape)

(22998, 13)
(11024289, 4)

In [112]:
# Uno los Datasets en base al campo 'id'
Proveedores_Resenias = pd.merge(Proveedores, Reseñas_totales, how='left', left_on='id', right_on='movieId')

In [113]:
#ccreo una nueva columna con los nombres de la plataforma para mas facilidad a la hora de recomendar la plataforma
#Defino mis condiciones
condicion =[
    Proveedores_Resenias['id'].str.startswith('a'),
    Proveedores_Resenias['id'].str.startswith('d'),
    Proveedores_Resenias['id'].str.startswith('h'),
    Proveedores_Resenias['id'].str.startswith('n')
]
#Valores que quiero en mi nuevo campo "plataform" si se cumplen las condiciones
valor= ["amazon", "disney_plus", "hulu", "netflix"]
Proveedores_Resenias['plataform'] = np.select(condicion, valor)
Proveedores_Resenias

,id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration_int,duration_type,userId,score,timestamp,movieId,plataform
0,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,113,min,543,5.0,2003-07-30,as1,amazon
1,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,113,min,595,3.0,1996-08-13,as1,amazon
2,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,113,min,611,3.0,2001-01-03,as1,amazon
3,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,113,min,2523,3.5,2012-06-25,as1,amazon
4,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,113,min,3082,4.0,2000-03-30,as1,amazon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11024284,ns8807,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2019-03-02,2015,tv-14,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...,111,min,122699,4.0,1999-07-17,ns8807,netflix
11024285,ns8807,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2019-03-02,2015,tv-14,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...,111,min,122869,4.0,2015-11-11,ns8807,netflix
11024286,ns8807,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2019-03-02,2015,tv-14,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...,111,min,123708,3.0,2001-10-11,ns8807,netflix
11024287,ns8807,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2019-03-02,2015,tv-14,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...,111,min,123841,4.0,2001-06-01,ns8807,netflix
11024288,ns8807,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2019-03-02,2015,tv-14,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...,111,min,124184,3.0,2000-08-18,ns8807,netflix

In [114]:
#Reviso tamaño
Proveedores_Resenias.shape

(11024289, 18)

In [115]:
# Guardo el Dataset final 
Proveedores_Resenias.to_csv("archivo.csv", index=False)